<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Angular News Application using Firebase</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angNewsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
    <![endif]-->

    <!-- We add nav.js controller to our index.html. While we're in index.html,
    lets add our nav to index.html using ng-include - place it right above.
    our ng-view div. This will include the navbar template on every page. -->

    <div ng-include="'views/nav.html'"></div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/posts.js"></script>
        <script src="scripts/controllers/postview.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/services/post.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/filters/url.js"></script>
        <script src="scripts/directives/checkusername.js"></script>
        <!-- endbuild -->

    <!-- As Views podem ficar inline e serão carregadas logo de cara  -->

    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="views/project-list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | orderByPriority | filter:search | orderBy:'name'">
          <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
          <td>{{project.description}}</td>
          <td>
            <a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>

    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="views/project-detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
          <label>Name</label>
          <input type="text" name="name" ng-model="project.name" required>
          <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
              Required {{myForm.name.$pristine}}</span>
        </div>

        <div class="control-group" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
          <label>Website</label>
          <input type="url" name="site" ng-model="project.site" required>
          <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">
              Required</span>
          <span ng-show="myForm.site.$error.url" class="help-inline">
              Not a URL</span>
        </div>

        <label>Description</label>
        <textarea name="description" ng-model="project.description"></textarea>

        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="myForm.$invalid"
                class="btn btn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="project.$remove" class="btn btn-danger">Delete</button>
      </form>
    </script>
  </body>
</html>
