
<div ng-repeat="(postId, post) in posts">
  <a href="{{ post.url }}">{{ post.title }}</a>
  <a href="#/posts/{{ postId }}">comments</a>
  <a ng-click="deletePost(postId)">delete</a>
</div>
 
<form ng-submit="submitPost()">
  <input type="text" ng-model="post.title" />
  <input type="text" ng-model="post.url" />
  <input type="submit" value="Add Post" />
</form>

<hr />
<div style="border: 2px silver solid; color: silver; padding: 10px;">
  Para DEBUG <br />
  Copie o código abaixo para o Clipboard e use o site 
  <a href="http://jsbeautifier.org">JSBeautifier</a> 
  e depois cole o conteudo abaixo n campo indicado. 
  Tecle Ctrl+Enter <br /><br />
  Posts: {{ posts }}<br />
  
  <br /><hr />
  Post: {{ post }}
</div>
